.fit_img {
  width: 100%;
}

.height500 {
  min-height: 500px;
}

.height200 {
  min-height: 200px;
}

.edit-btn {
  float: left;
  margin: 5px;
}

.btn-position {
  position: relative;
}

.action-btn {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 1rem;
}

.dropdown-width {
  min-width: 10px;
}

.margin-top {
  margin-top: 10px;
}
